@import "../variables";

.Post {
  .Post__info {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    margin-top: $tinySpacing;
    margin-bottom: $standardSpacing;
    .Post__tags {
      display: flex;
      align-items: center;
      margin-right: $smallSpacing;
      .Post__tag {
        padding: 0 $tinySpacing;
        &:nth-last-child(n+2) { // selecting all but last
          &:after {
            content: ', ';
          }
        }
      }
      .Post__tagsIcon {
        margin-right: $tinySpacing;
      }
    }
    .Post__dateContainer {
      display: flex;
      align-items: center;
      .Post__date {

      }
      .Post__dateIcon {
        margin-right: $smallSpacing;
      }
    }
  }
  .Post__description {
    font-style: italic;
  }
  .Post__content {
    border-top: 1px solid $grey;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
